// Colors (átomos)

$black: #282C34;
$yellow: #FAF248;
$pink: #FB3052;
$blue: #3291B9;
$gray: #CCCCCC;
$white: #FAFAFA;

// Reset

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $white;
}

// Font (átomos)

// $fontPrimary: 
// $fontSecondary: 

// Transition (átomos)

$transition: .2s;

// Radius (átomos)

$radius: 5px;

// Tags HTML (átomos)

h1 {
  // text-align: center;
}

h2 {
  text-align: center;
}

p {
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}

a {
  color: $yellow;
}